<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GestioneSicurezzeDbSviluppo"
			 connectionString="Host=192.168.1.4;Port=5432;Database=mz_warehouse_sviluppo;Username=wh_user;Password=WareHouseUser*25*;Search Path=mezzapesa;
								Pooling=true;Maximum Pool Size=100;Trust Server Certificate=true" 
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL" />
		<add name="GestioneSicurezzeDbProd"
			 connectionString="Host=192.168.1.4;Port=5432;Database=mz_sicurezze;Username=wh_user;Password=WareHouseUser*25*;Search Path=sicurezze;
								Pooling=true;Maximum Pool Size=100;Trust Server Certificate=true"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL" />
	</connectionStrings>
</configuration>